apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-client
spec:
  selector:
    matchLabels:
      app: myapp-client
  replicas: 2
  template:
    metadata:
      labels:
        app: myapp-client
    spec:
      containers:
        - name: client
          image: omriza5/cr-client:d857cfd5fd98e0d1205319d5e26e8dba4c63daa2
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "128Mi"
              cpu: "200m"
            requests:
              memory: "64Mi"
              cpu: "100m"
