apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp-server
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/omriza5/argocd-demo.git
    targetRevision: HEAD
    path: server
  destination:
    server: https://kubernetes.default.svc
    namespace: myapp

  syncPolicy:
    syncOptions:
      - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
