apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-server
spec:
  selector:
    matchLabels:
      app: myapp-server
  replicas: 2
  template:
    metadata:
      labels:
        app: myapp-server
    spec:
      containers:
        - name: server
          image: omriza5/cr-server:867c8067e39984466c44e36f16ea7a48871c15bc
          ports:
            - containerPort: 8000
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m"
